* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Source Sans Pro, sans-serif;
}
#logo {
  width: 7.75rem;
  height: 7.75rem;
  margin: 2rem auto;
  text-align: center;
}
#logo img {
  width: 100%;
  height: 100%;
}
#diagonal {
  height: 12rem;
}
#diagonal-bg {
  width: 200%;
  height: 100%;
  margin-left: -50%;
  background-color: #4A90E2;
  transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
}
.wrapper {
  overflow-x: hidden;
}
h2 {
  transform: translate(0,0);
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  margin: -7rem auto;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 600;
}
p {
  text-align: center;
  margin: 6rem auto;
  line-height: 1.5;
  color: #555;
}
a {
  text-decoration: none;
  color: #4A90E2;
}
a:hover {
  text-decoration: underline;
}
.github-fork-ribbon {
  background-color: #333;
}
.github-fork-ribbon:hover {
  background-color: #4a90e2;
}
@media (min-width: 1600px) {
  html {
    font-size: 112.5%;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 87.5%;
  }
}
@media (max-width: 640px) {
  html {
    font-size: 75%;
  }
}
