<!DOCTYPE html>
<html ng-app="testApp">
  <head>
    <script>
      var starttime = Date.now()
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <style>
      body {
        padding: 1.5rem;
        font-family: sans-serif;
      }
      p {
        margin: .5rem 0;
      }
    </style>
  </head>
  <body ng-controller="testCtrl as test">
    <p id="rendertime"></p>
    <p>
      My results (Chrome Mac):<br>
      1) FRZR: init 529 ms, reverse 851 ms, total 1830 ms<br>
      2) Angular: init <b>3590 ms</b>, reverse 1323 ms, total 4913 ms (2.5x slower)<br>
      3) React: init 1445 ms, reverse <b>7938 ms</b>, total 9383 ms (5x slower)
    </p>
    <p>
      <a href="frzr.html">FRZR</a>
      <a href="react.html">React</a>
    </p>
    <button ng-click="test.reverse()">Reverse</button>
    <div id="container">
      <div>
        <div>
          <p ng-repeat="item in test.list track by item.id">Item {{item.id}}</p>
        </ul>
      </div>
    </div>
    <script>
      var $rendertime = document.getElementById('rendertime')

      angular.module('testApp', [])
        .controller('testCtrl', function () {
          this.list = new Array(50000)

          this.reverse = function () {
            starttime = Date.now()
            this.list.reverse()
            requestAnimationFrame(function () {
              $rendertime.textContent = 'Rendering took ' + (Date.now() - starttime) + ' ms'
            })
          }

          for (var i = 0, len = this.list.length; i < len; i++) {
            this.list[i] = {
              id: i
            }
          }
        })

      requestAnimationFrame(function () {
        $rendertime.textContent = 'Rendering took ' + (Date.now() - starttime) + ' ms'
      })
    </script>
  </body>
</html>
