<!DOCTYPE html>
<html ng-app="testApp">
  <head>
    <script>
      var starttime = Date.now()
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <style>
      body {
        padding: 1.5rem;
        font-family: sans-serif;
      }
      p {
        margin: .5rem 0;
      }
    </style>
  </head>
  <body ng-controller="testCtrl as test">
    <p id="rendertime"></p>
    <p id="rendertime2"></p>
    <p>
      My results (render times):<br>
      1) FRZR: init 1252 ms, reverse 1839 ms, total 3091 ms<br>
      2) Angular: init <b>6956 ms</b>, reverse 2506 ms, total 9462 ms<br>
      3) React: init 1659 ms, reverse <b>44131 ms</b>, total 45790 ms
    </p>
    <p>
      <a href="frzr.html">FRZR</a>
      <a href="react.html">React</a>
    </p>
    <button ng-click="test.reverse()">Reverse</button>
    <div id="container">
      <div>
        <div>
          <p ng-repeat="item in test.list track by item.id">Item {{item.id}}</p>
        </ul>
      </div>
    </div>
    <script>
      var $rendertime = document.getElementById('rendertime')
      var $rendertime2 = document.getElementById('rendertime2')

      angular.module('testApp', [])
        .controller('testCtrl', function () {
          this.list = new Array(100000)

          this.reverse = function () {
            var starttime = Date.now()
            this.list.reverse()
            requestAnimationFrame(function () {
              $rendertime.textContent = 'Rendering took ' + (Date.now() - starttime) + ' ms'
            })
            setTimeout(function () {
              $rendertime2.textContent = 'DOM ready after ' + (Date.now() - starttime) + ' ms'
            }, 0)
          }

          for (var i = 0, len = this.list.length; i < len; i++) {
            this.list[i] = {
              id: i
            }
          }
        })

      requestAnimationFrame(function () {
        $rendertime.textContent = 'Rendering took ' + (Date.now() - starttime) + ' ms'
      })
      setTimeout(function () {
        $rendertime2.textContent = 'DOM ready after ' + (Date.now() - starttime) + ' ms'
      }, 0)
    </script>
  </body>
</html>
